<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 配置controller扫描包 -->
	<context:component-scan base-package="cn.shihua.ssm.controller" />

	<!-- 注解驱动 --><!-- 包括处理器适配器,处理器映射器 -->
	<mvc:annotation-driven  conversion-service="factoryConversionBean"/>
	
	<!-- 配置conversion转换器       转换工厂(转换日期,转换单位,去掉前后空格,等 的转换器-->
	<!-- 配置转换工厂bean   工厂可以产生很多的转换器 -->
	<bean id="factoryConversionBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	<!-- 转换工厂可以配置多个转换器 -->
		<property name="converters">
			<list>
				<!--  自定义转换器类  多个-->
				<!-- 自定义转换日期 -->
				<bean class="cn.shihua.ssm.utils.DateConverter">
				
				</bean>
				
			</list>
		</property>
	
	</bean>
	<!-- 配置全局异常处理器 -->
<bean 
id="customHandleException" 	class="cn.shihua.ssm.exception.handler.CustomHandleException"/>
<!-- 上传图片的实现类   图片解析器   -->
	<!-- 文件上传,id必须设置为multipartResolver -->
<bean id="multipartResolver"
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<!-- 设置文件上传大小 -->
	<!--单位是B  -->
	<property name="maxUploadSize" value="10240000" />
</bean>
	

	<!-- Example: prefix="/WEB-INF/jsp/", suffix=".jsp", viewname="test" -> 
		"/WEB-INF/jsp/test.jsp" -->
	<!-- 配置视图解析器 -->
	<bean
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置逻辑视图的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 配置逻辑视图的后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 配置springmvc的拦截器     可以配置多种拦截器-->
	<mvc:interceptors>
		<!--拦截器1  -->
		<mvc:interceptor >
			<!--拦截规则 拦截什么东西  --><!-- /springmvc-web/queryItemsList/2.action -->
									<!--   项目名                          路径一                              路径2          -->
									<!--    不算                            第一个*        第二个* -->
			<!--拦截所有  --><!-- **表示中间可以有很多级目录 -->
			<mvc:mapping path="/**"/>
			<!--自定义的拦截器类  1-->
			<bean  id="interceptor1" class="cn.shihua.ssm.interceptor.Interceptor1"/>
			
		</mvc:interceptor>
		
		<!--拦截器2  -->
		<mvc:interceptor >
			<!--拦截规则 拦截什么东西  --><!-- /springmvc-web/queryItemsList/2.action -->
									<!--   项目名                          路径一                              路径2          -->
									<!--    不算                            第一个*        第二个* -->
			<mvc:mapping path="/**"/><!--拦截所有  --><!-- **表示中间可以有很多级目录 -->
			<!--自定义的拦截器类  2-->
			<bean  id="interceptor2" class="cn.shihua.ssm.interceptor.Interceptor2"/>
			

		</mvc:interceptor>
		<!--拦截器3  -->
		<mvc:interceptor >
			<!--拦截规则 拦截什么东西  --><!-- /springmvc-web/queryItemsList/2.action -->
									<!--   项目名                          路径一                              路径2          -->
									<!--    不算                            第一个*        第二个* -->
			<mvc:mapping path="/item/**"/>
			<!-- 登录的/login 路径不能 拦截啊,所以得限制拦截路径 -->
			<!--自定义的拦截器类  3  登录拦截器-->
			<bean  id="loginInterceptor" class="cn.shihua.ssm.interceptor.LoginInterceptor"/>
			
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
